.nav{
    background-color: lightgrey;
    overflow: hidden;
    display: block;
    text-align: center;
}

.nav a{
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
}

#account{
  float: right;
  padding: 10px 20px 10px 10px;
  font-weight: bold;
}
