body{
  margin: 0;
  font-family: sans-serif;
}

h1, h2, h3{
  display: block;
  text-align: center;
}

.searchbar{
  display: inline-block;
  width: 60%;
}

#Adv{
  display: block;
  margin: 10px auto auto auto;
}

footer{
  display: table;
  margin: auto;
}

footer > li{
  list-style-type: none;
  text-align: center;
}
