h1, h4{
  display: block;
  text-align: center;
}

.searchbar{
  display: inline-block;
  width: 60%;
}

.searchcontent{
  text-align: center;
}

.welcome{
  font-size: 12px;
}

#Adv{
  display: block;
  margin: 10px auto auto auto;
}
